
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
</head>
<style>
body{
background-color:white;
color:black;
        }

        h3{
        font-family: arial;
        }

       

        .panel-body{

        color:black;
        margin: 0 auto;
        border: solid 3px #DB7093;
        border-radius: 20px;

        }

        .col-sm-6{
        color: #DB7093;
        border-radius: 50px;
        font-family: arial;
        font-size: 15px;
        }

        .bg-info{
        color:#DB7093;
        font-weight: bold;
        text-transform: uppercase;
        }

        input{
        border-radius: 20px;
        width: 400px;
        height: 60px;
        margin: 0 auto;
        border: solid 3px #93db70;
        }

     
</style>
<body>
<div class="container">
<div class="col-sm-6">
<div class="panel panel-default">
<div class="panel-heading"></div>
<div class="panel-body">
<h3 class="bg-info">COURSE REGISTRATION</h3>
<form method="POST" class="col-sm-6 col-md-3 col-lg-6 col-xl-3" class="panel">{%csrf_token%}
{{form.as_p}}
<input type="submit"></input>
</form>
</div>
</div>
</div>
</div>
</div>][\]
</body>
</html>

 

