<!DOCTYPE html>
<html>

<head>

      <title>Teachers</title>
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="css/normalize.css">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    

</head>
<body>
<table class = "table table-striped">
<button><a href = "/teacher/add/">Add teacher</a></button>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Marital Status</th>
		<th>Gender</th>
		<th>Details</th>
		<th>Edit</th>
		

	</tr>


	{% for teacher in teachers%}

		<tr>
			<td>{{teacher.first_name}}</td>
			<td>{{teacher.last_name}}</td>
			<td>{{teacher.marital_status}}</td>
			<td>{{teacher.gender}}</td>
			<td><a href = "/teacher/view/{{teacher.pk}}/">View More</a>
			<td><a href = "/teacher/edit/{{teacher.pk}}/">Edit</a>

		</tr>	

	{% endfor %}		
</table>

<style type="text/css">
	button{
		border-radius: 20px;
        width: 100px;
        height: 40px;
        float: right;
        border: solid 3px #93db70;

	}
</style>



</body>




















</html>