<!DOCTYPE html>
<html>

<head>

      <title>Students</title>
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="css/normalize.css">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    

</head>

<body>



<table class = "table table-striped">
<button><a href = "/student/add/">Add student</a></button>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Registration Number</th>
		<th>Email</th>
		<th>Details</th>
		<th>Edit</th>

	</tr>


	{% for student in students%}

		<tr>
			<td>{{student.first_name}}</td>
			<td>{{student.last_name}}</td>
			<td>{{student.registration_number}}</td>
			<td>{{student.email}}</td>
			<td><a href = "/student/view/{{student.pk}}/">View More</a>
			<td><a href = "/student/edit/{{student.pk}}/">Edit</a>
			



		</tr>	

	{% endfor %}		
</table>

<style type="text/css">
	button{
		border-radius: 20px;
        width: 100px;
        height: 40px;
        float: right;
        border: solid 3px #93db70;

	}
</style>



</body>




















</html>